* {
  transition: all .3s ease;
}
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }

  @media (max-width: 560px) {
    font-size: 75%;
  }

  @media (max-width: 375px) {
    font-size: 68.75%;
  }
}

body {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a, li.page-item {
  cursor: pointer !important;
}

button, a{
  border-radius: 2px !important; 
}

.gap-1{
  gap: 1rem;
}
.gap-2{
  gap: 2rem;
}
.gap-3{
  gap: 3rem;
}

.width-5{
  width: 5%;
}

.width-10{
  width: 10%;
}
.width-15{
  width: 15%;
}

.width-20{
  width: 20%;
}

.width-80{
  width: 80%;
}

.width-100{
  width: 100%;
}

.text-left{
  text-align: left;
}

::-webkit-scrollbar {
  width: 3px; 
  height: 12px; 
}

::-webkit-scrollbar-thumb {
   background: #8888888a; 
  /*background: #FFC107;*/
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 6px; 
}

.sidebar-container{
  min-height: 100vh;
  width: 210px
}

@media (max-width: 720px) {
  .sidebar-container{
    width: 55px;
  }
  .sidebar-small{
    font-size: 24px!important;
  }
  
  .sidebar-small-label{
    display: none;
  }
  .main-container{
    width: calc(100% - 55px)!important;
  }
}


.main-container{
  margin: 0;
  padding: 0;
  background-color: #F4F3EF;  
  min-height: 100vh;
  position: relative;
  width: calc(100% - 210px);
}

main {
  padding: 13px 13px 5vh 13px;  
  max-height: 90vh;
  overflow: scroll;
}

/* react-bootstrap CloseButton */
.small-close-button {
  width: 0.5rem;
  height: 0.5rem;
  font-size: 0.5rem;
}

/* react-bootstrap Tabs  */
.nav-link.active {
  box-sizing: border-box!important;
  border-top: 3px solid rgba(13, 110, 253, 0.8) !important;
  border-radius: 0px !important;
}

.nav-item {
  max-width: 155px;
}

.nav-item button {
  padding: 6px 5px;
  width: 100%;
  font-size: 14px;
}

ul.nav-tabs {
  display: flex;
  flex-wrap: nowrap;
}