.card{
    background-color: #fff;
      border: 0;
      border-radius: 12px;
      box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
      color: #252422;
      /*margin-bottom: 20px;*/
      padding-bottom: 1rem;
      position: relative;
  }
  
  .card-header-custom{
    height: 4rem;
    border: none;
    background-color: white;
  }