<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password</title>
</head>
<body>
     <h2>Redefinir Senha</h2>
    <form action="/recover-password" method="post">
        <label for="email">New password:</label>
        <input type="password" id="password" name="password" required>
        <label for="email">Confirm new password:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Enviar link de redefinição</button>
    </form>
</body>
</html>