  
html, body { height: 100%; }
body{ height: 100vh; overflow-y: hidden; }
main{ overflow-y: scroll; max-height: 100vh; transition: max-width 200ms linear; }
fieldset {
  border: 1px solid #d8d8d8; 
  padding: 20px 20px 0px 20px; 
  border-radius: 5px;
  margin-bottom: 20px;
}    
legend { 
  font-size: 16px;
  color: gray;
  margin-top: -37px; 
  width:auto; 
  border: none;
  background-color: white;
  padding: 5px 10px;
}


html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
  @media (max-width: 560px) {
    font-size: 75%;
  }
  @media (max-width: 375px) {
    font-size: 68.75%;
  }
}
:root {
  --color-default: #157347;
  --color-default-light: #f4faf4;
  --shadows-default: 0 2px 4px rgba(0, 0, 0, 0.1);
  --gray-default:  rgb(108,117,125);
  --border-color-default: #dee2e6;
  --border-radius-default: 5px;
}

::-webkit-scrollbar {
  width: 4px; 
  height: 12px; 
}
::-webkit-scrollbar-thumb {
  background: #b3b3b38a;
  border-radius: 3px; 
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 3px; 
}

.container-fluid, .full-height{
  height: 100vh;
}

.view-index-table-container{
  max-height: 75vh;
  overflow-y: auto;
}
.width-0{
  width: 0!important;
}
.width-20{
  width: 20%;
}
.width-80{
  width: 80%;
}

.width-100{
  width: 100%!important;
}
.cursor-pointer{
  cursor: pointer;
}

.card-default{
  border-radius: 5px; 
  border: 1px solid var(--border-color-default);
  border-left: 4px solid var(--color-default)!important;
  box-shadow: var(--shadows-default);
  padding: 1rem !important;
}

.pagination-bar-default {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  border: 1px solid var(--border-color-default);
  background-color: var(--color-default-light); 
  border-radius: var(--border-radius-default);
  cursor: pointer;
  padding: 0.5rem 1rem; /* py-2 = 0.5rem, px-3 = 1rem */
}

.gray-default{
  color: var(--gray-default);
}

.card-dafault{
  border-radius: 5px; 
  border-left: 4px solid var(--color-default);
  box-shadow: var(--shadows-default);
}