.section-actions {
  /*position: absolute;
  top: 0;
  right: -12px;*/

  position: fixed; 
  top: 18vh;
  right: 0px;

  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.section-actions-btn-parent{
    display: flex; 
    justify-content: end; 
    width: 100%;
}
.section-actions-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-left: 20px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  white-space: nowrap;
  position: relative;

  transition: opacity 0.3s ease, width 0.3s ease;

}

.section-actions-btn .btn-label {
  opacity: 0;
  width: 0;
  font-size: 14px;
}

.section-actions-btn:hover {
  width: auto;
  border-radius: 20px;
  justify-content: start;
  padding-left: 12px;
}

.section-actions-btn:hover .btn-label {
  opacity: 1;
  width: auto;
  padding-right: 10px;
}