.tab-container{
  position: relative;
}
.nav-link { 
  color: var(--gray-default); 
  font-size: 14px
}
.nav-tabs .nav-link.active {
  border-top: 2px solid var(--color-default);
  color: var(--color-default);
}